body {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

/*first look*/
header {
    position: absolute;
    top: 0;
    background-color: #3A405A;
    height: 80px;
    width: 100%;
    z-index: 3;
}

#welcome-sec {
    background-image: url("../kuvat/book-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#welcome-sec-in {
    width: 100vh;
    height: 100vh;
    z-index: 2;
}

#blue-box {
    position: absolute;
    bottom: 0;
    height: 280px;
    width: 100%;
    background-color: #3A405A;
    opacity: 50%;
    z-index: 3;
}