@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}
h1 {
    letter-spacing: 0.5rem;
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
p {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/* ---SECTIONS--- */
/* HEADER */
.home-first {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url("../assets/img/bg-masthead-2.jpg");
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content:center;
}
#home-text {
    margin: auto;
    text-align: center;
}

/* INTRODUCTION */
#intro {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
#intro-text {
    width: 50%;
    margin: auto;
    text-align: center;
}

/* MY WORK */
#projects {
    width: 100%;
    min-height: 50vh;
    background-color: #FF865E;
    display: flex;
    flex-direction: column;
}

#projectxt-container {
    width: 50%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#examples-container {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.examples-element {
    width: 225px;
    height: 250px;
    background-color: #FEE440;
    border-radius: 6%;
    margin: auto;
    text-align: center;
}

.example-image {
    width: 225px;
    height: 180px;
    border-radius: 6% 6% 0% 0%;
}