@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}
h1 {
    letter-spacing: 0.5rem;
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}
.blur {
    min-height: inherit;
    backdrop-filter: blur(5px);
    padding: 1px;
    
}

/* ---SECTIONS--- */
/* HEADER */
.home-first {
    width: 100%;
    min-height: 100vh;
    margin: auto;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img/bg-masthead-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    display:flex;
    align-items: center;
    justify-content:center;
}
#home-text {
    margin: auto;
    text-align: center;
}

/* INTRODUCTION */
.intro {
    width: 100%;
    min-height: 50vh;

    background-color: #F3C3B0;
    box-shadow: inset 0 0 10px #5e5e5e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro-text {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
}

/* MY WORK */
#projects {
    width: 100%;
    min-height: 50vh;
    color: white;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img/sakura-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

#projectxt-container {
    width: 50%;
    min-height: 15vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#examples-container {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.examples-element {
    width: 275px;
    height: 250px;
    background-color: #FEF9EF;
    border-radius: 6%;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
}

.example-image {
    width: 275px;
    height: 200px;
    border-radius: 6% 6% 0% 0%;
}