/* Imports of Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Yuji+Syuku&display=swap');
/* Utilization of imported fonts
   font-family: "Grenze Gotisch", serif;
   font-family: "Yuji Syuku", serif;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: whitesmoke;

    background-color: rgba(44, 52, 78, 1);
    background-image: linear-gradient(rgba(44, 52, 78, 1), rgba(71, 29, 69, 0.5)), url("../img/stars-and-stuff.png");
    background-size: 35%;
}

#pages_collapse {
    position: fixed;
    top: 3%;
    left: 3%;
    width: 100px;
    height: 50px;
    font-family: "Grenze Gotisch", serif;

    background-color: rgba(20, 21, 40, 0.5);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pages_site {
    display: none;
    text-decoration: none;
}


/* Hero Image on the main page */
.hero {
    width: 100%;
    height: 40vh;
    font-family: "Grenze Gotisch", serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 10px;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/skyrim-off-wall.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.infodump {
    width: 100%;
    min-height: 30vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texting {
    width: 70%;

    font-family: "Yuji Syuku", serif;
    text-align: center;
}

#footer {
    min-height: 10vh;
}

@media screen and (max-width: 600px) {
    .infodump {
        margin-top: 5vh;
    }
    .texting {
        width: 90%;
    }
}