@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Smooch+Sans:wght@100..900&display=swap');

body, html {
    margin: 0 auto;
    padding: 0;

    background-color: rgb(20, 22, 27);
}



.hero {
    /*Image*/
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./images/deities.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*Text*/
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;;
    color: aliceblue;
    text-align: center;

    position: relative;
    height: 50vh;
}

.hero-text {
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

.structure {
    width: 100%;
    min-height: 20vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.godly {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.godly-container {
    width: 100%;
    min-height: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.desc {
    font-family: "Karla", sans-serif;
    font-size: 1.5em;
    color: aliceblue;
    text-align: center;
    margin: 0 10%;
}

.ingod {
    width: 50%;
}

.picture {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture img {
    width: 60%;
    height: 60%;
    margin: 0 10%;
    border-radius: 15px;
}
.picture img:hover {
    transform: scale(1.1);
    background-color: rgba(0,0,0,0.1);
    transition: transform 0.5s;
    cursor: pointer;
}
.picture h3 {
    width: 80%;

    font-family: "Karla", sans-serif;
    font-size: 1.5em;
    color: aliceblue;
    text-align: center;
    margin: 0 10%;
    position: relative;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px 15px 0 0;

    display: none;
}


@media only screen and (max-width: 950px) {
    .hero {
        height: 30vh;
    }

    .hero-text {
        font-size: 1.2em;
    }

    .desc {
        font-size: 1em;
    }

    .godly-container > .desc {
        display: none;
    }
    .picture {
        width: 100%;
        flex-direction: column;
    }
    .picture h3 {
        display: block;
    }
}
